<nav>
    <ul class="menu-list">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/login"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      </li>
      <li>
        <a
          routerLink="/register"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Register</a
        >
      </li>
      <li>
        <a
          routerLink="/api-data"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >API-DATA</a
        >
      </li>
    </ul>
  </nav>