/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: Arial, sans-serif;
  }
  
  .landing-container {
    text-align: center;
    color: white;
    padding-top: 70px;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .banner {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('../../../public/assets/pexels-rovenimages-com-344613-949587.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .banner img {
    display: none;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .banner-text h1 {
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  .banner-text p {
    font-size: 1.5em;
  }
  
  .content-section {
    padding: 40px 20px;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .upload-section {
    margin-bottom: 40px;
  }
  
  .upload-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .image-section {
    margin-top: 20px;
    font-size: larger;
  }
  
  .uploaded-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .effects-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .effects-buttons button:hover {
    background-color: #0056b3;
  }
  